/* Reset & basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Container */
.container {
  max-width: 1152px !important;
  margin: 0 auto;
}



/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

/* Root variables */
:root {
  /* Font sizes */
  --font-xs: 11px;
  --font-sm: 14px;
  --font-lg: 28px;
  --font-xxl: 50px;
  --font-xxxl: 80px;

  /* Colors */
  --grey: #afafaf;
  --pink: #c40a3b;
  --light-grey: #e6e6e6;
  --primary-grey: #dcdcdc;
  --light-white: #fafafa;
  --primary-white: #f6f6f6;
  --custom-black: #010101;

  /* Line heights */
  --lh-100: 100%;
  --lh-120: 120%;
  --lh-160: 160%;
}

/* Font size classes */
.fs-xs {
  font-size: var(--font-xs);
}

.fs-sm {
  font-size: var(--font-sm);
}

.fs-lg {
  font-size: var(--font-lg);
}

.fs-xxl {
  font-size: var(--font-xxl);
}

.fs-xxxl {
  font-size: var(--font-xxxl);
}

/* Color classes */
.text-grey {
  color: var(--grey);
}

.text-light-grey {
  color: var(--light-grey);
}
.text-pink {
  color: var(--pink);
}

.bg-primary-white {
  background-color: var(--primary-white);
}

.bg-pink {
  background-color: var(--pink);
}

.combo-card:hover{
  background-color: var(--pink);
}

.bg-primary-grey {
  background-color: var(--primary-grey);
}

.text-light-white {
  color: var(--light-white);
}

.text-custom-black {
  color: var(--custom-black);
}

.bg-custom-black {
  background-color: var(--custom-black);
}

/* Line height classes */
.lh-100 {
  line-height: var(--lh-100);
}

.lh-120 {
  line-height: var(--lh-120);
}

.lh-160 {
  line-height: var(--lh-160);
}

/* Font families */
.bricolage {
  font-family: "Bricolage Grotesque", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.shadow-light {
  box-shadow: 0px 4px 25px 0px #01010114;

}


@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollleft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.slider {
  overflow: hidden;
  height: 670px;
  position: relative;
}


.slider-track.reverse {
  animation: scrollDown 5s linear infinite;
}

.slider-track img {
  width: 250px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.slider-track {
  display: flex;
  flex-direction: column;
  animation: scrollUp 5s linear infinite;
}

@media (max-width:640px) {

  textarea{
    font-size: 14px !important;
  }
  input{
    font-size: 14px !important;
  }
  .slider-track.reverse {
  animation: scrollleft 8s linear infinite;
}
  .slider-track img {
    min-width: 200px;
}
.slider {
  overflow: hidden;
  height: 610px;
  /* position: relative; */
}

  .slider-track {
    display: flex;
    flex-direction: row;
    animation: scrollleft 5s linear infinite;
  }
  .slider {
  overflow: hidden;
  height: 350px;
  position: relative;
}


}


.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d3d3d3; /* grey */
  opacity: 1;
  border-radius: 4px !important;
  transition: all 0.3s ease;
}

/* Active bullet style (pill shape) */
.swiper-pagination-bullet-active {
  width: 30px !important; /* makes it pill */
  height: 10px;
  background: #000 !important; /* black */
  border-radius: 9px !important;
}




  .swiper-button-next, .swiper-button-prev {
      background: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-button-next::after, .swiper-button-prev::after {
      font-size: 16px;
      color: black;
    }
      .swiper-button-next::after,
        .swiper-button-prev::after {
            content: "" !important;
        }

            .vertical-swiper {
      height: 600px; /* Adjust height */
      width: 250px;  /* Adjust width */
    }

    /* .swiper-slide img {
      border-radius: 16px;
    } */